#BROSHCRMIFRMWRP{
    margin-left:-20px;
	text-align:center;
}
#BROSHCRMIFRMWRP button{
	padding:1rem;
	margin:1rem;
	color:#ffffff;
	border: 3px solid #ffffff;
	border-radius: 11px;
	font-weight: bold;
	background:#6969DD;
}
#BROSHCRMIFRMWRP button:hover{
	background:#3333DD;
}
#BROSHCRMIFRM{
    height: calc( 100vh - 36px );
}